<nav id="sidebar-icon-links">
  {% if site.github.repo %}
    <a id="github-link"
       class="icon" title="Github Project" aria-label="Github Project"
       href="{{ site.github.repo }}">
      {% include svg/github.svg %}
    </a>
    <a id="github-download-link"
       class="icon" title="Download" aria-label="Download"
       href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">
      {% include svg/download.svg %}
    </a>
  {% endif %}
  
  {% if site.twitter %}
    <a id="twitter-link"
       class="icon" title="Twitter" aria-label="Twitter"
       href="{{ site.twitter }}" target="_blank">
      {% include svg/twitter.svg %}
    </a>
  {% endif %}
  
  {% if site.instagram %}
    <a id="instagram-link"
       class="icon" title="Instagram" aria-label="Instagram"
       href="{{ site.instagram }}" target="_blank">
      {% include svg/instagram.svg %}
    </a>
  {% endif %}
  
  {% if site.linkedin %}
    <a id="linkedin-link"
       class="icon" title="LinkedIn" aria-label="LinkedIn"
       href="{{ site.linkedin }}" target="_blank">
      {% include svg/linkedin.svg %}
    </a>
  {% endif %}
  
  {% if site.gmail %}
    <a id="gmail-link"
       class="icon" title="Email" aria-label="Email"
       href="mailto:{{ site.gmail }}?subject=x.mcnami.com" target="_blank">
      {% include svg/gmail.svg %}
    </a>
  {% endif %}
  
  {% if site.medium %}
    <a id="medium-link"
       class="icon" title="Medium" aria-label="Medium"
       href="{{ site.medium }}" target="_blank">
      {% include svg/medium.svg %}
    </a>
  {% endif %}
  
  {% if site.dribbble %}
    <a id="dribbble-link"
       class="icon" title="Dribbble" aria-label="Dribbble"
       href="{{ site.dribbble }}" target="_blank">
      {% include svg/dribbble.svg %}
    </a>
  {% endif %}

  {% include custom-icon-links.html %}
</nav>